.sidebar-container {
  min-width: 300px;
  height: 100vh;
  background-color: #F1F1F1;
}

.sidebar-img {
  width: 75px;
  margin-top: 25px;
}

.sidebar-container > p {
  margin: 20px 0px;
  cursor: pointer;
}

.sidebar-container > p > a {
  text-decoration: none;
  color: black;
}


